.mycard{
    background-color: rgb(98, 188, 240);
}
.input-Km{
    
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.dropdown-toggle {
    box-shadow: none;
    border: 1px solid #ced4da;
    background: white;
    border-left: none;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 38px;
    color: black;
}
.CircularProgressbar-text{
    
   margin-right: 50px;
}