.signupPage{
    background:linear-gradient(#97b7f1,#97eaed) ;
   
    .passError{
        margin: 0 11.5rem ;
    }
    .buttonDiv{
        justify-content: space-evenly;
    }
    .errorText{
        margin: 0 0px 0 37px;
    }
}
